select {
  width: 50%;
  border: 2px solid greenyellow;
  overflow: hidden;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}
.btn {
  display: block;
}
.myCard {
  border: 2px solid black;
  margin: 2px;
  padding: 2px;
}
.example-dropzone {
  background-color: #6db65b;
  flex-basis: 100%;
  flex-grow: 1;
  padding: 10px;
}
