<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}" />
    <title>Draggable Cards</title>
  </head>

  <body>
    <div class="container">
      <h1>Draggable Cards</h1>

      <form action="http://localhost:5000/" method="post">
        <div class="row">
          <div class="column">
            <select
              class="example-dropzone"
              ondragover="onDragOver(event);"
              ondrop="onDrop(event);"
              id="select"
              name="select"
              multiple
            ></select>

            <div
              class="example-dropzone"
              ondragover="onDragOver(event);"
              ondrop="onDrop(event);"
            ></div>
          </div>

          <div id="maindiv" class="column">
            {% for item in globallist %}
            <div class="row">
              <div
                class="myCard"
                id="{{item.name}}"
                draggable="true"
                ondragstart="onDragStart(event);"
                style="width: 400px"
              >
                <h4>{{item.name}}</h4>
                <hr />
                <ul>
                  {% for skill in item.skill %}
                  <li>{{skill}}</li>
                  {%endfor%}
                </ul>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>

        <button class="btn btn-submit" type="submit">Submit</button>
      </form>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <script>
      var data = JSON.parse("{{audits}}".replaceAll("&#39;", '"'));
    </script>
    <script src="{{url_for('static', filename='script.js')}}"></script>
  </body>
</html>
