<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.css"
    />

    <link
      rel="stylesheet"
      href="{{url_for('static', filename='style2.css')}}"
    />
    <title>Draggable Cards</title>
  </head>

  <body>
    <div class="container">
      <h1>Draggable Cards</h1>

      <form action="http://localhost:5000/" method="post" id="myForm">
        <select id="audit" name="audit" onchange="makeTable(this)">
          <option disabled selected>Please Select an Audit</option>
          {% for a in audits %}
          <option>{{a.id}}</option>
          {%endfor%}
        </select>
        <select multiple id="people" name="people" hidden></select>
        <div class="row">
          <div
            id="init"
            class="column"
            ondrop="drop(event)"
            ondragover="allowDrop(event)"
          >
            {% for item in globallist %}
            <div class="row">
              <div
                class="myCard"
                id="{{item.name}}"
                draggable="true"
                ondragstart="drag(event)"
                style="width: 400px"
              >
                <h4>{{item.name}}</h4>
                <hr />
                <ul>
                  {% for skill in item.skill %}
                  <li>{{skill}}</li>
                  {%endfor%}
                </ul>
              </div>
            </div>
            {% endfor %}
          </div>
          <div
            id="final"
            ondrop="drop(event)"
            ondragover="allowDrop(event)"
            class="column"
          ></div>
        </div>

        <button class="btn btn-submit" type="button" onclick="Sub()">
          Submit
        </button>
      </form>
      <table id="mytable"></table>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <script
      type="text/javascript"
      charset="utf8"
      src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"
    ></script>

    <script>
      var data = JSON.parse("{{audits}}".replaceAll("&#39;", '"'));
      var users = JSON.parse("{{globallist}}".replaceAll("&#39;", '"'));
    </script>
    <script src="{{url_for('static', filename='script2.js')}}"></script>
  </body>
</html>
